version: '3.9'
services:
  push-service:
    build: .
    depends_on:
      - rabbitmq
      - redis
    ports:
      - "8001:8001"
    volumes:
      - ./app:/app/app
    environment:
      - PYTHONUNBUFFERED=1

  worker:
    build: .
    depends_on:
      - rabbitmq
      - redis
    command: python app/worker.py
    volumes:
      - ./app:/app/app

  rabbitmq:
    image: "rabbitmq:3-management"
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: "redis:7"
    ports:
      - "6379:6379"
